# Security

Protocol 2
HostKey /etc/ssh/keys/ssh_host_ed25519_key
HostKey /etc/ssh/keys/ssh_host_rsa_key

# Faster connection

UseDNS no

# Limit access

PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no
PrintMotd no

# More logs

LogLevel VERBOSE

# Force SFTP and chroot jail

Subsystem sftp internal-sftp

Match Group sftponly
  ChrootDirectory /sftp
  ForceCommand internal-sftp
  AllowTcpForwarding no
